#personal-photo {
	border-radius: 200px;
	width: 200px;
}

.social-icons {
	list-style-type: none;
	margin: 0 auto;
}

.social-icons li {
	display: block;
	margin: 15px 0;
}

/* Responsive
.social-icons li span {
	display: none;
}
*/