---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Color set
$coral: #e14658;
$navy: #22252c;
$mountain: #3f3250;
$scrub: #c0b3a0;

// Body (color)
$body-background-color: none;
$body-color: $navy;

// Header (text)
$header-h1-font-size: 45px;
$header-font-family: 'Helvetica Neue', sans-serif;
// Header (color)
$header-background-color: $navy;
$header-border-color: $navy;
$header-color: white;
$header-hover-color: $coral;

// Footer (text)
$footer-font-family: $header-font-family;
$footer-social-font-size: 30px;
// Footer (color)
$footer-anchor-color: $coral;
$footer-background-color: $header-background-color;
$footer-border-color: $header-border-color;
$footer-color: $header-color;

// Main (size):
$main-max-width: 600px;
// Main (text)
$main-font-family: 'Roboto', sans-serif;

// Article (text)
$article-font-family: $main-font-family;
// Article (color)
$article-header-background-color: white;
$article-header-color: $navy;
$article-desc-more-background-color: $coral;
$article-desc-more-color: white;
$article-anchor-color: $coral;

// Syntax Highlighting (https://github.com/voronianski/oceanic-next-color-scheme)
$sh-background-color: $navy;
$sh-color: white;
$sh-error-color: #a61717;

$oceanic-base-00: #1B2B34;
$oceanic-base-01: #343D46;
$oceanic-base-02: #4F5B66;
$oceanic-base-03: #65737E; // Comments and line no.
$oceanic-base-04: #A7ADBA;
$oceanic-base-05: #C0C5CE;
$oceanic-base-06: #CDD3DE;
$oceanic-base-07: #D8DEE9;
$oceanic-base-08: #EC5f67; // Builtins
$oceanic-base-09: #F99157; // Numbers
$oceanic-base-0A: #FAC863; // Classes and inits
$oceanic-base-0B: #99C794; // Strings
$oceanic-base-0C: #5FB3B3; // Operators and globals
$oceanic-base-0D: #6699CC; // Functions
$oceanic-base-0E: #C594C5; // Keywords
$oceanic-base-0F: #AB7967;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        // "base",
        "article",
        "body",
        "header",
        "footer",
        // "layout",
        "syntax-highlighting"
;
