---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Color set
$black: #000000;
$ink: #062f4f;
$posy: #813772;
$embers: #b82601;
//
$prussianblue: #0b3c5d;
$skyblue: #328cc1;
$goldleaf: #d9b310;
$ivoryblack: #1d2731;
//
$aqua: #6bbaa7;
$sunshine: #fba100;
$lavender: #6c648b;
$dustyrose: #b6a19e;
//
$stormy: #494e6b;
$cloud: #98878f;
$sunset: #985e6d;
$evening: #192231;
//
$coral: #e14658;
$navy: #22252c;
$mountain: #3f3250;
$scrub: #c0b3a0;

// Body (color)
$body-background-color: none;
$body-color: $navy;

// Header (text)
$header-h1-font-size: 45px;
$header-font-family: 'Helvetica Neue', sans-serif;
// Header (color)
$header-background-color: $navy;
$header-border-color: $scrub;
$header-color: white;
$header-hover-color: $coral;

// Footer (text)
$footer-font-family: $header-font-family;
$footer-social-font-size: 30px;
// Footer (color)
$footer-anchor-color: $coral;
$footer-background-color: $header-background-color;
$footer-border-color: $header-border-color;
$footer-color: $header-color;

// Main (size):
$main-max-width: 600px;
// Main (text)
$main-font-family: 'Roboto', sans-serif;

// Article (text)
$article-font-family: $main-font-family;
// Article (color)
$article-header-background-color: white;
$article-header-color: $navy;
$article-desc-more-background-color: $coral;
$article-desc-more-color: white;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        // "base",
        "article",
        "body",
        "header",
        "footer"
        // "layout",
        // "syntax-highlighting"
;
