---
layout: default
lang: es
permalink: /
ref: index
---
{% assign posts=site.posts | where:"lang", page.lang %}
{% for post in posts %}
<article>
	<header class="article-header">
		<h2><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></h2>
		<p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
	</header>
	<section class="article-desc">
	    {% if post.description %}{% assign show=post.description %}
	    {% else %}{% assign show=post.content | strip_html | truncate: 140 %}{% endif %}
		<p>{{ show }}</p>
		<p><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">Ver más</a></p>
	</section>
</article>
{% endfor %}