---
layout: default
lang: en
permalink: /en/
ref: index
---
{% assign posts=site.posts | where:"lang", page.lang %}
{% for post in posts %}
<article>
	<header class="article-header">
		<h2><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></h2>
		<p>{{ post.date | date: "%b %-d, %Y" }}</p>
	</header>
	<section class="article-desc">
	    {% if post.description %}{% assign show=post.description %}
	    {% else %}{% assign show=post.content | strip_html | truncate: 140 %}{% endif %}
		<p>{{ show }}</p>
		<p><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">Ver más</a></p>
	</section>
</article>
{% endfor %}