<footer>
    <ul class="footer-social">
        <li><a title="GitHub" href="{{ site.author_github }}"><i class="fa fa-github fa-fw"></i></a></li>
        <li><a title="Facebook" href="{{ site.author_facebook }}"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a title="LinkedIn" href="{{ site.author_linkedin }}"><i class="fa fa-linkedin fa-fw"></i></a></li>
        <li><a title="Twitter" href="{{ site.author_twitter }}"><i class="fa fa-twitter fa-fw"></i></a></li>
    </ul>
    {% if page.lang == "en" %}{% assign description=site.description_en %} {% elsif page.lang == "es" %}{% assign description=site.description %}{% endif %}
    <ul class="footer-description">
        <li>
            <p>{{ description }}</p>
        </li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>
</footer>