<footer class="site-footer">
	<div class="wrapper wrapper-footer">
		<div class="footer-social">
			<ul class="social-icons">
				<li><a href="https://telegram.me/aaossa"><i class="fa fa-paper-plane-o fa-fw"></i></a></li>
				<li><a href="https://www.facebook.com/aaossa"><i class="fa fa-facebook fa-fw"></i></a></li>
				<li><a href="mailto:aaossa@uc.cl"><i class="fa fa-envelope-o fa-fw"></i></a></li>
				<li><a href="https://github.com/aaossa"><i class="fa fa-github fa-fw"></i></a></li>
				<li><a href="https://www.linkedin.com/in/aaossa"><i class="fa fa-linkedin fa-fw"></i></a></li>
				<li><a href="http://codepen.io/aaossa"><i class="fa fa-codepen fa-fw"></i></a></li>
			</ul>
		</div>

		<div class="footer-bottom">
			<ul class="footer-list">
				<li><p>{{ site.description }}</p></li>
				<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
			</ul>
		</div>
	</div>
</footer>