<header class="site-header">
    <nav class="wrapper">
        {% if page.lang == "en" %}{% assign baseurl="/en" %}{% assign other="Español" %}
        {% elsif page.lang == "es" %}{% assign baseurl="/" %}{% assign other="English" %}{% endif %}
        <a class="site-title" href="{{ baseurl }}">{{ site.title }}</a>

        {% assign pages=site.pages | where:"lang", page.lang %}
        <div class="header-sites">            
            <ul>{% for p in pages %}{% if p.title %}
                <li><a class="page-link" href="{{ p.url }}">{{ p.title }}</a></li>{% endif %}{% endfor %}
                {% assign posts=site.posts | where:"ref", page.ref %}{% for p in posts %}{% if p.lang != page.lang %}
                <li class="toggle"><a href="{{ p.url }}" class="toggle">{{ other }}</a></li>{% endif %}{% endfor %}
                {% assign pages=site.pages | where:"ref", page.ref %}{% for p in pages %}{% if p.lang != page.lang %}
                <li class="toggle"><a href="{{ p.url }}" class="toggle">{{ other }}</a></li>{% endif %}{% endfor %}
            </ul>
        </div>
    </nav>
</header>
