footer {
    background-color: $footer-background-color;
    color: $footer-color;
    border-top: 1px solid $footer-border-color;
    font-family: $footer-font-family;
    width: 100%;

    a {
        color: $footer-anchor-color;
        text-decoration: none;
    }
    ul {
        margin: 0 auto;
        list-style-type: none;
        padding: 0;
        padding-top: 15px;
        text-align: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        li {
            margin: 0 auto;
            padding: 0 20px;
        }
    }
    .footer-social {
        li {
            display: inline-block;

            a {
                display: block;
                font-size: $footer-social-font-size;
                width: 60px;
                /* "width: 60 px" porque en header son 100px y aqui tenemos "padding:20px" y, 
                como son dos lados, tenemos 2*20px = 40px, y 100px-40px=60px */
            }
        }
    }
}