/**
 * Site header
 */
.site-header {
  background-color: $background-color;
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  position: relative;
}
.site-nav {
  widows: 100%;
  padding: 0;
}
.site-title {
  display: block;
  float: left;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 56px;  
  margin-bottom: 0;
  padding: 0 15px;
  

  &, &:visited {
    color: $grey-color-dark;
  }
}
.header-sites {
  line-height: 56px;
  margin-bottom: 0;
  float: right;

  ul {
    display: block;
    list-style-type: none;

    li {
      display: block;
      float: left;
      padding: 0;

      a {
        color: white;
        text-decoration: none;
        padding: 1em 10px;
      }
      .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
    .toggle {
      background-color: $text-color;
      color: $background-color;
    }
  }
}
.site-header {
  @include media-query($on-palm) {
    nav {    
      .header-title {
        text-align: center;

        .site-title {
          float: none;
        }
      }
      .header-sites:before {
        content: "\039e";
      }
      .header-sites:hover ul {
        display: block;
        margin-bottom: 0;
      }
      .header-sites {
        float: none;
        text-align: center;

        ul {
          display: none;
          margin-left: 0px;

          li {
            float: none;
            text-align: center;            

            a {
              display: block;
              padding: 1em;
            }
          }
        }
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}
.site-footer:before {
  background-color: #555;
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

/**
 * Page content
 */
.page-content {
  padding-top: $spacing-unit;
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-content {
  margin-bottom: 0;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/* 
Disqus comments 
*/
.disqus-comments:before {
  background-color: #555;
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}