---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

	<header class="article-header">
		<h2 itemprop="name headline">{{ page.title }}</h2>
		{% if page.author %}{% assign author=page.author %}{% else %}{% assign author=site.author %}{% endif %}
		<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author }}</span></span></p>
	</header>

	<section class="article-content" itemprop="articleBody">
		{{ content }}
	</section>

</article>

<div class="disqus-comments">
	{% include disqus.html %}
</div>